<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" *ngIf="isAuth"   >
  <!-- Brand Logo -->
  <a href="javascript:void(0)"  [routerLink]="['/home']" class="brand-link">
    <img [src]="logo" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Entreprise</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/dist/img/AdminLTELogo.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Admin</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <!-- <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div> -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true" >
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <!-- <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="./index.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v1</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="./index2.html" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v2</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="./index3.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v3</p>
              </a>
            </li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a href="javascript:void(0)" [routerLink]="['/produits']" routerLinkActive="router-link-active"  class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Produits
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Commandes
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Ventes
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Clients
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Utilisateurs
            </p>
          </a>
        </li>

        <li class="nav-header">Paramètres</li>

        <li class="nav-item has-treeview" >
          <a href="javascript:void(0)" class="nav-link active"  >
            <i class="nav-icon far fa-plus-square"></i>
            <p>
              Paramètres
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>

          <ul class="nav nav-treeview has-treeview">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Produits
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>

              <ul class="nav nav-treeview ">
                <li class="nav-item">
                  <a href="javascript:void(0)" [routerLink]="['/produits/ajouter']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Ajouter un produit</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)" [routerLink]="['/produits/archives']" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Archives</p>
                  </a>
                </li>
              </ul>
            </li>

            <!-- <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Utilisateurs
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="pages/examples/login-v2.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Ajouter un utilisateur</p>
                  </a>
                </li>
              </ul>
            </li> -->

          </ul>

          <ul class="nav nav-treeview " [routerLink]="['/categories']"   >
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Catégories
                  <!-- <i class="fas fa-angle-left right"></i> -->
                </p>
              </a>

            </li>

          </ul>


        </li>


        <li class="nav-header">Compte</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p class="text">Mon compte</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" data-toggle="modal" [attr.data-target]="'#modal-logout'" class="nav-link"  >
            <i class="nav-icon far fa-circle text-warning"></i>
            <p>Déconnexion</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<!-- Modal Confirmation Déconnexion-->
<div   class="modal fade"  id="modal-logout">
  <div class="modal-dialog">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation de la déconnexion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez-vous vraiment vous déconnecter ?</p>
        <!-- <p>Le produit sera placé dans les archives. </p> -->
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn   btn-outline-light"  data-dismiss="modal"(click)="logout()" >Se déconnecter</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
