  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
      <app-page-header title="CATEGORIE" [breadcrumb]="[{name : 'Accueil',link : '/home'},{name : 'Mes catégories',link : '/categories'},{name : 'Modifier une catégorie',link : ''}]"></app-page-header>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Modifier une catégorie</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="editCategoryForm" (ngSubmit)="editCategory()">
                <div class="card-body" *ngIf="category">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nom</label>
                    <input type="text" class="form-control" placeholder="Nom"  formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && editCategoryForm.controls.name.errors }">
                    <div *ngIf="submitted && editCategoryForm.controls.name.errors" class="invalid-feedback">
                      <div *ngIf="editCategoryForm.controls.name.errors.required">Le nom du produit est réquis !</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Parent</label>
                        <select class="form-control"  formControlName="parent" >
                          <option value="0" [selected]="true" >Aucun</option>
                          <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
                        </select>
                  </div>
                  <!-- <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div> -->
                </div>
                <!-- /.card-body -->

                <div class="card-footer" fxLayout="row" fxLayoutGap="5px">
                  <button type="submit" class="btn btn-success">Sauvergarder les modifications</button>
                  <button type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#modal-delete-category-'+category?._id">Supprimer</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
