  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-page-header title="PRODUITS" [breadcrumb]="[{name : 'Accueil',link : '/home'},{name : 'Mes produits',link : '/produits'}]"></app-page-header>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row">
            <div *ngFor="let product of products ;let i = index" class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
              <div class="card bg-light d-flex flex-fill">
                <div class="card bg-dark text-white mb-0">
                  <img *ngIf="!product.imageUrl" src="https://image.freepik.com/photos-gratuite/tasse-cafe-table-bois-mur-sombre_155003-8192.jpg" class="card-img" alt="...">
                  <img *ngIf="product.imageUrl" height="300" [src]="product.imageUrl" class="card-img" alt="...">
                  <div class="card-img-overlay " style="background-color: #0000007a;">
                    <div  fxLayout="row"  fxLayoutAlign="space-between start">
                      <h5 class="card-title"><b>  {{product.name}} </b></h5>
                      <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" (change)="isHidden($event,product)" [checked]="!product.isHidden" [id]="'customSwitch'+product._id">
                        <label class="custom-control-label text-muted text-sm"  [for]="'customSwitch'+product._id"></label>
                      </div>
                    </div>
                    <h3><b [ngClass]="{'promotion': product.inPromotion}">{{product.price}} €</b> <b *ngIf="product.inPromotion"> {{product.promotionPrice}} €</b></h3>
                    <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p> -->
                    <!-- <div> <b>Description : </b> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. </div> -->
                    <div> <b>Catégorie: </b>  <span *ngIf="product.categoryName;else aucuneCategorie" >{{product.categoryName}}</span> <ng-template #aucuneCategorie >Aucune</ng-template> </div>
                    <div> <b>Stock: </b> {{product.stock}}</div>
                    <div> <b>Poids: </b> {{product.weight}} Kg</div>
                  </div>
                </div>
                <!-- <div class="card-header text-muted border-bottom-0" >
                  <h5>Product name</h5>
                </div> -->



                <div class="card-footer">
                  <div class="text-right" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end center">
                    <!-- <a href="#" class="btn btn-sm bg-teal">
                      <i class="fas fa-comments"></i> Supprimer
                    </a> -->
                    <a href="javascript:void(0)" data-toggle="modal" [attr.data-target]="'#modal-delete-product-'+product._id" class="btn btn-sm btn-danger">
                      <i class="fas fa-trash"></i> Supprimer
                    </a>
                    <a href="javascript:void(0)" [routerLink]="['/produits/produit/'+product._id]"  class="btn btn-sm btn-primary">
                      <i class="fas fa-eye"></i> Détails
                    </a>
                    <a href="javascript:void(0)" [routerLink]="['/produits/modifier/'+product._id]"  class="btn btn-sm btn-primary">
                      <i class="fas fa-pencil-alt"></i> Modifier
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">6</a></li>
              <li class="page-item"><a class="page-link" href="#">7</a></li>
              <li class="page-item"><a class="page-link" href="#">8</a></li>
            </ul>
          </nav>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->
