

<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="assets/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <app-header ></app-header>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-sidenav ></app-sidenav>


  <!-- Contbar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <app-alert [fade]="true"></app-alert>
  <router-outlet></router-outlet>

  <!-- Main Footer -->
  <app-footer></app-footer>

</div>
<!-- ./wrapper -->



