  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-page-header title="CATEGORIES" [breadcrumb]="[{name : 'Accueil',link : '/home'},{name : 'Mes catégories',link : '/categories'}]"></app-page-header>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><button [routerLink]="['/categories/ajouter']"   type="button" class="btn btn-block btn-success">Ajouter une catégorie</button></h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <!-- <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button> -->
          </div>
        </div>
        <div class="card-body p-0">

          <div  *ngIf="!categories?.length" fxLayout="row" >
            <div class="alert alert-info " fxFlex fxLayout="column" >
              <h5><i class="icon fas fa-exclamation-triangle"></i>Aucun catégorie n'a été ajoutée !</h5>
            </div>
          </div>

          <table  *ngIf="categories?.length" class="table table-striped projects">
              <thead >
                  <tr  >
                      <th >#</th>
                      <th >Nom</th>
                      <th>Parent</th>
                      <th ></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let category of categoriesByPage; let i = index  " >
                      <td> {{  (i + 1) + ((numberOfPage-1)*numberOfElementToShow)}} </td>
                      <td>{{category.name}}</td>
                      <td *ngIf="category.isParent ;else noParent" > {{category.parentName}} </td>
                      <ng-template #noParent> <td>Aucun</td> </ng-template>
                      <td style=" white-space: nowrap" class="project-actions text-right" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
                          <!-- <a class="btn btn-primary btn-sm" href="#">
                              <i class="fas fa-folder">
                              </i>
                              View
                          </a> -->
                          <a class="btn btn-info btn-sm" href="javascript:void(0)" [routerLink]="['/categories/modifier/'+category._id]"  >
                              <i class="fas fa-pencil-alt">
                              </i><span fxHide.xs>Modifier</span>

                          </a>
                          <a class="btn btn-danger btn-sm" href="javascript:void(0)" data-toggle="modal" [attr.data-target]="'#modal-delete-category-'+category._id">
                              <i class="fas fa-trash">
                              </i><span fxHide.xs>Supprimer</span>

                          </a>
                      </td>
                  </tr>

              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <nav *ngIf="categoriesByPage?.length && numberTotalOfpage>1" aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
              <li *ngFor="let i of pages" class="page-item active" [class]="{'active' : i  == numberOfPage} "
              (click)="getCategoriesByPage(i)">
               <a class="page-link" href="javascript:void(0)">{{ i  }}</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->

